# Node Modules
node_modules/
server/node_modules/
team-flow/node_modules/

# Environment Files
.env
server/.env
team-flow/.env
*.env

# Build
dist/
build/
team-flow/dist/

# Logs
*.log

# Editor
.vscode/
.idea/
.DS_Store